.myName {
    font-family: 'Luckiest Guy', cursive;
    font-size: large;
    text-align: center;
    border: paleturquoise;
    align-items: flex-start;
}
nav{
  font-family: 'Oxanium', cursive;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  background-color: #111;
}
.aboutMeSection p{
  font-family: 'Sen', sans-serif;
  text-decoration-color: seashell;
  text-emphasis-color: seashell;
  background-color: seashell;

  width: 300px;
  height: 800px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

}

#myName{
  justify-content: center;
  Display: font-size;

}
 body {
  background-image: url("../blogCV/images/meric-dagli-2RJB9Euaj7M-unsplash.jpg");
  background-size: cover;
  background-color: #cccccc;

}
.myCV {
  width: 320px;
  padding: 10px;
  border: 5px solid gray;
  margin: 0;
  background-color: seashell;
  text-align: center;
  justify-content: center;
}
